* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:Arial, Helvetica, sans-serif;
	/* border: 2px solid rgba(255, 0, 0, 0.158); */
}

body {
	background: #1f2937;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
  width: clamp(45rem, 50vw, 60rem);
}

.heading {
	width: clamp(45rem, 60vw, 60rem);
	height: clamp(10rem, 18vh, 30rem);
	font-size: clamp(2.5rem, 3vw, 5rem);
	color: #ffffff;
}

span {
	color: #4adf86;
}

.subheading {
	width: clamp(45rem, 60vw, 60rem);
	font-size: clamp(1rem, 1vw, 1rem);
	color: #dad7cd;
}

.passwordlength {
	margin: 20px 0;
	padding-bottom: 10px;
	display: flex;
	border-bottom: 2px dotted #dad7cd;
}

.pass_text {
	width: clamp(22.5rem, 30vw, 30rem);
	font-size: clamp(1.5rem, 2.5vw, 3rem);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	padding: 0 30px 0 0; 
}

.toggle-password-length {
	width: clamp(22.5rem, 30vw, 30rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

#increase {
	font-size: clamp(1.5rem, 2vw, 2rem);
}

#lengthinput {
	padding: 0.5rem 0;
	width: clamp(3rem, 5vw, 6rem);
	margin: 0 1rem;
	text-align: center;
	background: rgba(0,0,0,0.5);
	border-radius: 5px;
}

#decrease {
	font-size: clamp(1.5rem, 2vw, 2rem);

}

.btn {
	width: clamp(22.5rem, 30vw, 30rem);
	margin: 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

button {
	font-size: clamp(1.2rem, 1.5vw, 3rem);
	font-weight: 600;
	padding: 5px 12px 5px 12px;
	border-radius: 5px;
	border: none;
	background: #4adf86;
	color: #ffffff;
	cursor: pointer;
}

#clear {
	font-size: clamp(1.2rem, 1.5vw, 3rem);
	background: #dad7cd;
	color: #1f2937;
	opacity: 0.2;
}

.passwords {
	padding: 1rem 0;
	width: clamp(45rem, 60vw, 60rem);
	display: flex;
	justify-content: space-around;
}

input {
	width: clamp(15rem, 25vw, 25rem);
	padding: 8px 12px 8px 12px;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	background: rgba(0,0,0,0.5);
	
}

::placeholder {
	color: #ffffff;
	opacity: 0.2;
}

.copybtn {
	width: clamp(45rem, 60vw, 60rem);
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: none;
}

#copy1, #copy2 {
	margin: 10px 0;
	padding: 5px 24px;
	font-size: clamp(1rem, 1vw, 2rem);
	background: #1f2937;
	color: #4adf86;
	border: 2px solid #4adf86;
	opacity: 0.5;
}